{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px;">

            <div class="da-slide">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
              <h2>
                <i>MANAGE THE</i>
                <br>
                <i>STUDENTS</i>
                <br>
                <i>DETAILS</i>
              </h2>
              <p>
                <i>A complete solution</i>
                <br />
                <i>for student management</i>
              </p>
              <a href="#" class="btn btn-info btn-lg da-link">
				  Read more
				</a>
              <div class="da-img">
                <img src="/assets/img/parallax-slider/images/1.png" alt="image01" style="height:300px"/>
              </div>
            </div>
          </div>
        </div>
      </div>


            <div class="da-slide">
            <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>MANAGEM</i>
            <br />
          <i>THE</i>
            <br />
          <i>FACULTY DETAILS</i>
        </h2>
        <p>
          <i>Management of</i>
            <br />
          <i>Faculty Details</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/2.png" alt="image01" style="height:300px"/>
        </div>
      </div>
          </div>
        </div>
      </div>


      <div class="da-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
        <h2>
          <i>LEAVE</i>
            </br>
          <i>MANAGEMENT</i>
            </br>
          <i>SYSTEM</i>
        </h2>
        <p>
          <i>Manage Leaves</i>
          <br />
          <i>approvals and</i>
          <br />
          <i>disapprovals</i>
        </p>
        <a href="#" class="btn btn-info btn-lg da-link">
          Read more
        </a>
        <div class="da-img">
          <img src="/assets/img/parallax-slider/images/3.png" alt="image01" style="height:300px"/>
        </div>
      </div>
      </div>
      </div>
      </div>

      <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
      </nav>
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to On Duty Leave Management System
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/parallax-slider/images/front1.jpeg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>On Duty Leave Management System</b>
                </h4>
              </div>
              <p class="text-center">
                A health club (also known as a fitness club, fitness center, health spa, and commonly referred to as a gym) is a place.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front2.jpeg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Faculty Management System</b>
                </h4>
              </div>
              <p class="text-center">
                Most health clubs have a main workout area, which primarily consists of free weights including dumbbell.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/parallax-slider/images/front3.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Leaves Management System</b>
                </h4>
              </div>
              <p class="text-center">
                This area often includes mirrors so that exercisers can monitor and maintain correct posture.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p3.jpg" alt="" style="height:335px; width:550px;">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About On Duty Leave Management System
            </h1>
            <hr>
            <p>
              Navigating the leave management minefield without a leave management system is a tricky challenge. When you’re equipped only with conventional tools like paper forms, emails, and excel sheets, your chances of survival are pretty low. Even small missteps can cause disasters like resource crunch, payroll processing errors, and legal complications.
              Despite the high impact on productivity and student engagement, SMBs are not ready to revamp their awkward manual process of handling leave requests. At several SMBs, the students are still running behind their managers with leave forms to get a signature. Whereas, the managers are scurrying around excel sheets to figure out leave balances.
            </p>
			      <hr>
          </div>
        </div>
      </div>
    </div>
    <!--property end-->
    <script type="text/javascript" src="/assets/js/parallax-slider/jquery.cslider.js"></script>
	<script type="text/javascript">
		  $(function() {

			$('#da-slider').cslider({
			  autoplay    : true,
			  bgincrement : 100
			});

		  });
	</script>
  {% endblock content %}

